$clsPrefix: "jade";
$tree: #{$clsPrefix}-tree;
$tree-node-wrapper:#{$tree}-node-wrapper;
$tree-node:#{$tree}-node;
$tree-switcher:#{$tree-node}-switcher;
$tree-content:#{$tree}-node-content;
.#{$tree} {
    font-size: 14px;
    outline: none;

    ul,li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .#{$tree-node-wrapper} {
        padding: 3px 0;
    }

    .#{$tree-node} {
        position: relative;
        display: flex;
        border-radius: 0px;
    }
    .#{$tree-switcher} {
        cursor: pointer;
        display: inline-flex;
        flex-shrink: 0;
        height: 24px;
        width: 24px;
        align-items: center;
        justify-content: center;
        vertical-align: bottom;
        &__icon {
            position: relative;
            height: 14px;
            width: 14px;
            display: flex;
            font-size: 14px;
            // color: red;
        }
        &--expanded {
            transform: rotate(90deg);
        }
    }
    .#{$tree-content} {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-height: 24px;
        box-sizing: border-box;
        line-height: 1.5;
        vertical-align: bottom;
        padding: 0 6px;
    }

}